@CHARSET "windows-31j";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}

li {
	list-style-type: none;
}

#header {
	height: 50px;
	width: 100%;
	background-color: red;
}

#container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	margin: 15px 0;
	padding: 15px 0;
	text-align: center;
	border-bottom: solid 1px;
}

#content .item-area {
	margin: 10px 0;
	padding: 10px 0;

	background: -moz-linear-gradient(top,  rgba(234,162,13,0.52) 0%, rgba(242,193,83,0.54) 38%, rgba(255,244,198,0.49) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,162,13,0.52)), color-stop(38%,rgba(242,193,83,0.54)), color-stop(100%,rgba(255,244,198,0.49))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,162,13,0.52) 0%,rgba(242,193,83,0.54) 38%,rgba(255,244,198,0.49) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,162,13,0.52) 0%,rgba(242,193,83,0.54) 38%,rgba(255,244,198,0.49) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,162,13,0.52) 0%,rgba(242,193,83,0.54) 38%,rgba(255,244,198,0.49) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,162,13,0.52) 0%,rgba(242,193,83,0.54) 38%,rgba(255,244,198,0.49) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85eaa20d', endColorstr='#7dfff4c6',GradientType=0 ); /* IE6-9 */

	border-radius: 10px;        /* CSS3草案 */
	-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 10px;   /* Firefox用 */
}

#content .item {
	margin: 20px 0;
	padding: 0 20px;
}

#content .item.dir {
	margin: 10px 0;
	font-weight: bold;
}

#content .item .left {
	width: 360px;
	float: left;
}

#content .item .right {
	text-align: left;
}

#content .item.file {
	margin: 10px 0;
	padding: 0 50px;
}

#content .item.file .left {
	width: 330px;
	float: left;
}

#content .item.file .right {
	text-align: left;
}

#end {
	margin: 15px 0;
	padding: 15px 0;
	border-top: solid 1px;
}


